@import url("https://fonts.googleapis.com/css2?family=Italiana:wght@400;700&display=swap");
nav {
  display: flex;
  justify-content: space-between; /* Aligns items evenly */
  align-items: center; /* Vertically centers items */
  background-color: #06131a; /* Background color of the navbar */
  padding: 10px; /* Add some padding to the navbar */
}
.nav-link {
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: 940px;
}

li {
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.logo {
  margin-right: auto;
}

.profile-icon {
  margin-left: auto; 
}

h2 {
    padding-top: 10%;
    color: #ffffff;
    margin-left: 10%;
    font-size: 40px;
}
h3 {
  padding-top: 5px;
  color: rgb(92,131,116);
  margin-left: 5%;
  font-size: 50px;
  margin-top: 20px;
}
h4 {
  padding-top: 10%;
  color: #ffffff;
  font-size: 40px;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
h1 {
    padding-top: 10px;
    color: rgb(92,131,116);
    margin-left: 10%;
    font-size: 60px;
    margin-top: 170px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Italiana", sans-serif;
  background-color: #040d12;
} 
main {
  margin: auto;
}
.item-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.item-container img,
.item-container iframe {
  margin-right: 70px;
  margin-left: 70px;
}
p{
  color: #ffffff;
  margin-right: 5%;
  font-family: "Italiana", sans-serif;
  margin-left: 5%;
  font-size: larger;
}
.button {
  display: inline-block;
  padding: 15px 30px; 
  margin: 10px;
  background-color: transparent; 
  color: #ffffff; 
  border: 2px solid  rgb(92,131,116); 
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px; 
  font-family: "Italiana", sans-serif;
}
.button-container {
  text-align: left;
  margin-right: 20px; 
  margin-left: 70px;
  margin-top: 40px;
}
.button:hover {
  background-color: rgb(92,131,116); 
  color: #fff; 
}

div {
  display: inline-block;
}
.serv {
  width: 20%;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Italiana", sans-serif ;
}
.team {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.TopCast{
  
  padding: 50px 75px;
}
.Type p{
  font-size: x-large;
  margin-left: 6%;
}